body{
    background-position: center;
    background-size: cover;
}

.heading{
    margin: 0px;
    font-size: 25px;
    width: 100%;
    margin-bottom: 30px;
}


a{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    color: black;
}